body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
header{
    background-color:#2D25A0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    

}
/* ------------------------------navigation and h part -----------------------------*/

nav{
    display: flex;
     background-color: #2D25A0;
   /* background-color: lightblue; */
    justify-content: space-between;
    height: 44px;
    font-size: 16px; 
    align-items: center;
    
}


nav .right a{
    
    text-decoration: none;
    color: #ffffff;

   
}
nav .right{

    background-color:#E02C6D;
    margin-right: 2%;
    padding: 1%;
}


nav .left a{
    
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;  
   
}
.bar{
    display: none;
}


h1{
    font-size: 64px;
    color: #ffffff;
}
/* h1:hover{
    font-size: 74px;
    transition:font-size;
} */

/*========================================== banner-part */
.flex-con{
    display: grid;
    /* margin-bottom: 50px; */
    grid-template-columns: repeat(2, 1fr);
    /* background-color: #2D25A0; */
    
}
.haf-width{
    width: 50%;
   padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;


}
.img-width1 img{
    width: 556px;
    height: 438px;

    
}
.football:hover{
    /* transform: rotate(30deg); */
    width: 620px;
    height: 502px;
    transition: width 4s,height 4s;
   
}

.img-width2 img{
    width: 556px;
    height: 438px;

    
}
.link-button{
    text-decoration: none;

    background-color:#E02C6D;
    
    padding: 10px 20px;
    
    color:white;
    font-size: 16px;
    

}

/*-------------------------------- main------------------- */

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.container{
    background-color:#f1efefbd;
    /* background-color: #2D25A0; */
    width: 1010px;
    padding: 20px;
    border-radius: 5px;

    

}



/* ---------------------player------------------ */

.players{
    display: flex;   
}

h3{
    font-size: 28px;
}

p{
    color:#6C6C6C;
}
.player{
    
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
    
}

.player img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:24px ;
    grid-row-gap:24px ;
 }


 .icon{
    padding-top: 10px;
 }
h2{
    font-size: 48px;
}

/*---------------------- footer --------------------*/
footer{
    text-align: center;
    
}
footer img{
    width: 484px;
    height: 110px;

}
.all-icon{
    align-items: center;
}

.fo-icon{
    
    width:32px;
    height:32px;
    background-color: #d1cecead;
    border-radius: 50%;
    color:#646363;
    text-align: center;
    padding-top: 14px;
    padding-left: 6px;
    padding-right:6px
    
}

footer p{
    color: black;
}


/* -----------------------media Queries for phone ---------------------*/


   @media only screen and (max-width:688px){


    .left a:not(:first-child) {display: none;}
    .left .bar {
      color: #ffffff;
      float: right;
      display: block;
      font-size: 24px;

    }
  
  
  
    .container, .header-section{
        width:100%;
      }
      h1{
        font-size: 36px;
    }
      h2{
        font-size: 30px;
    }
    .flex-con{
        
        grid-template-columns: repeat(1, 1fr);
    }

    .flex-con img{
        width: 330px;
        height: 260px;
    }
    .players{

       grid-template-columns: repeat(1, 1fr);
    }
    .player{
        padding:20px;
        flex-direction: column;
     }
 
     footer img{
         width: 250px;
         height: 65px;
     }
   }

   /* -----------------------media Queries for ipad ---------------------*/


   @media only screen and (min-width:688px) and (max-width:992px){
    .left a:not(:first-child) {display: none;}
    .left .bar {
      color: #ffffff;
      float: right;
      display: block;
      font-size: 24px;

    }
    .container, .header-section{
        width:100%;
      }
      h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
    .flex-con{
        
        grid-template-columns: repeat(2, 1fr);
    }

    .flex-con img{
        width: 330px;
        height: 260px;
    }
    .players{

       grid-template-columns: repeat(2, 1fr);
    }
    .player{
        
        flex-direction: column;
     }
 
     footer img{
         width: 250px;
         height: 65px;
     }
   }